{% extends 'base.html' %}
{% load static %}
{% block links %}
<link rel="stylesheet" href="{% static 'css/tour.css' %}">
{% endblock links %}
{% block title %}Корзина{% endblock %}


{% block content %}
   <div class="tour-header tour-banner-head">
		<div class="wrapper">
			<div class="tour-nav flex-justify"">
				<div class=" logo logo-tour">
					<a class="topLink" href="{% url 'home_url' %}">Sholpan</a>
				</div>

				<button class="menu-toggle">
					<span></span>
					<span></span>
					<span></span>
				</button>

				<ul class="menu tour-menu">
					<li>
						<a class="topLink" href="{% url 'home_url' %}">Басты бет</a>
					</li>
					<li>
						<a class="topLink" href="{% url 'tours_list_url' %}">Турлар</a>
					</li>
					<li>
						<a class="topLink" href="{% url 'home_url' %}">Галерея</a>
					</li>
					<li>
						<a class="topLink" href="{% url 'home_url' %}">Мәлімет</a>
					</li>
					<li>
						<a class="topLink" href="#footer">Бізбен байланысу</a>
					</li>
				</ul>
			</div>
		</div>
   </div>


   <div class="wrapper">
      {% if cart.items.count > 0 %}
         <div class="my-cart">
            <table cellpadding="12" border="1" cellspacing="0">
               <tr>
                  <td>Тауар</td>
                  <td>Саны</td>
                  <td>Бағасы</td>
                  <td>Әрекет</td>
               </tr>
               {% for item in cart.items.all %}
                  <tr class="cart-item-{{ item.country.id }}">
                     <td>{{ item.country.name }}</td>
                     <td>
                        <form action="" method="GET">
                           <input type="number" name="qty" class="cart-item-qty" data-id="{{ item.id }}" value="{{ item.qty }}" min="1" style="width: 50px;">
                        </form>
                     </td>
                     <td id="cart-item-total-{{ item.id }}">{{ item.item_total }} тенге</td>
                     <td class="remove-td">
                        <a href="#" class="remove_from_cart" data-slug="{{ item.country.slug }}" data-id="{{ item.country.id }}">
                           Себеттен жою
                        </a>
                     </td>
                  </tr>
               {% endfor %}
               <tr>
                  <td><strong>Барлығы:</strong></td>
                  <td></td>
                  <td id="cart-total-price"><strong>{{ cart.cart_total }} тенге</strong></td>
                  <td></td>
               </tr>
            </table>
            <br>
            <a href="{% url 'checkout_url' %}" class="btn">Алдын-ала тапсырыс</a>
         </div>
      {% else %}
         <div class="my-cart" style="text-align: center;">
            <h4>Ваша корзина пуста</h4>
         </div>
      {% endif %}
      <!-- <h3 class="cart-empty"></h3> -->
   </div>


   <footer id="footer">
      <div class="wrapper">
         <div class="footer-desc">
            <div class="footer-desc__item">
               <div class="footer-logo">
                  <a href="{% url 'home_url' %}">Sholpan</a>
               </div>

               <p class="text__desc">
                  2010 жылдан бастап клиенттерімізді бақытты
                  қылып, жоғары сапада қызмет етудеміз, әр
                  энергиямызды клиентімізге қуанышта арнаудамыз
               </p>
            </div>

            <div class="footer-desc__item">
               <h4>Байланыс ақпараты</h4>

               <ul class="contact-list">
                  <li class="text__desc">
                     <span>
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                     </span>
                     Қайым Мухамедханов көшесі, 14
                  </li>
                  <li class="text__desc">
                     <span>
                        <i class="fa fa-phone" aria-hidden="true"></i>
                     </span>
                     +7 778 787 7878
                  </li>
                  <li class="text__desc">
                     <span>
                        <i class="fa fa-envelope-o" aria-hidden="true"></i>
                     </span>
                     info@gmail.com
                  </li>
               </ul>
            </div>

            <div class="footer-desc__item">
               <h4>Әлеуметтік желілерге қосылыңыз</h4>

               <ul class="follow-list">
                  <li>
                     <a class="text__desc" href="#">
                        <i class="fa fa-vk" aria-hidden="true"></i>
                     </a>
                     <a class="text__desc" href="#">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                     </a>
                     <a class="text__desc" href="#">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                     </a>
                     <a class="text__desc" href="#">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                     </a>
                  </li>
               </ul>
            </div>
         </div>
      </div>
   </footer>
   <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
   <script>
      $(document).ready(function(){
         $('.remove_from_cart').on('click', function(e){
            e.preventDefault()
            country_slug = $(this).attr('data-slug')
            item_country_id = $(this).attr('data-id')
            data = {
               country_slug: country_slug
            }
            $.ajax({
               type: "GET",
               url: '{% url "remove_from_cart_url" %}',
               data: data,
               success: function(data){
                  $("#cart_count").html(data.cart_total)
                  $('.cart-item-'+item_country_id).css('display', 'none')
                  $('#cart-total-price').html('<strong>' + parseFloat(data.cart_total_price).toFixed(2) + ' тенге' + '</strong>')
                  if(parseInt(data.cart_total) == 0 ){
                     $('.my-cart').css('display', 'none')
                     $('.cart-empty').html('<h3>Ваша корзина пуста</h3>')
                  }
               }
            })
         })
      })

      $(document).ready(function(){
         $('.cart-item-qty').on('click', function(){
            qty = $(this).val()
            item_id = $(this).attr('data-id')
            data = {
               qty: qty,
               item_id: item_id
            }
            $.ajax({
               type: "GET",
               url: '{% url "change_item_qty_url" %}',
               data: data,
               success: function(data){
                  $('#cart-item-total-'+item_id).html(parseFloat(data.item_total).toFixed(2) + ' тенге')
                  $('#cart-total-price').html('<strong>' + parseFloat(data.cart_total_price).toFixed(2) + ' тенге' + '</strong>')
               }
            })
         })
      })
   </script>
{% endblock content %}

