{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block links %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'css/tour.css' %}">
{% endblock links %}
{% block title %}Предварительный заказ{% endblock %}


{% block content %}
   <div class="tour-header tour-banner-head">
      <div class="wrapper">
         <div class="tour-nav flex-justify"">
            <div class=" logo logo-tour">
               <a class="topLink" href="{% url 'home_url' %}">Sholpan</a>
            </div>

            <button class="menu-toggle">
               <span></span>
               <span></span>
               <span></span>
            </button>

            <ul class="menu tour-menu">
               <li>
                  <a class="topLink" href="{% url 'home_url' %}">Басты бет</a>
               </li>
               <li>
                  <a class="topLink" href="{% url 'tours_list_url' %}">Турлар</a>
               </li>
               <li>
                  <a class="topLink" href="{% url 'home_url' %}">Галерея</a>
               </li>
               <li>
                  <a class="topLink" href="{% url 'home_url' %}">Мәлімет</a>
               </li>
               <li>
                  <a class="topLink" href="#footer">Бізбен байланысу</a>
               </li>
            </ul>
         </div>
      </div>
   </div>
   <div class="order-box">
      {% if messages %}
         {% for mess in messages %}
            <div class="alert alert-success order-message order-container">
               {{ mess }}
            </div>
         {% endfor %}
      {% endif %}
      <div class="wrapper">
         {% if cart.cart_total == 0 %}
            <div class="order-container order-message">
               <h3 style="color:red;">Сіздің себетіңіз бос</h4>
               <p><a href="{% url 'cart_url' %}">Себет</a></p>
            </div>
         {% else %}
            <form action="" method="POST">
               {% csrf_token %}
               {{ form|crispy }}
               <div class="order-container">
                  <input type="submit">
               </div>
            </form>
         {% endif %}
      </div>
   </div>

   <footer id="footer">
      <div class="wrapper">
         <div class="footer-desc">
            <div class="footer-desc__item">
               <div class="footer-logo">
                  <a href="{% url 'home_url' %}">Sholpan</a>
               </div>

               <p class="text__desc">
                  2010 жылдан бастап клиенттерімізді бақытты
                  қылып, жоғары сапада қызмет етудеміз, әр
                  энергиямызды клиентімізге қуанышта арнаудамыз
               </p>
            </div>

            <div class="footer-desc__item">
               <h4>Байланыс ақпараты</h4>

               <ul class="contact-list">
                  <li class="text__desc">
                     <span>
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                     </span>
                     Қайым Мухамедханов көшесі, 14
                  </li>
                  <li class="text__desc">
                     <span>
                        <i class="fa fa-phone" aria-hidden="true"></i>
                     </span>
                     +7 778 787 7878
                  </li>
                  <li class="text__desc">
                     <span>
                        <i class="fa fa-envelope-o" aria-hidden="true"></i>
                     </span>
                     info@gmail.com
                  </li>
               </ul>
            </div>

            <div class="footer-desc__item">
               <h4>Әлеуметтік желілерге қосылыңыз</h4>

               <ul class="follow-list">
                  <li>
                     <a class="text__desc" href="#">
                        <i class="fa fa-vk" aria-hidden="true"></i>
                     </a>
                     <a class="text__desc" href="#">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                     </a>
                     <a class="text__desc" href="#">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                     </a>
                     <a class="text__desc" href="#">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                     </a>
                  </li>
               </ul>
            </div>
         </div>
      </div>
   </footer>

   <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
   <script>
      $(document).ready(function(){
         $('#div_id_address').css('display', 'none')
         $('#id_buying_type').on('click', function(){
            buying_type = $(this).val()
            if(buying_type == 'delivery'){
               $('#div_id_address').css('display', 'block')
            }else{
               $('#div_id_address').css('display', 'none')
            }
         })
         $('#id_date_month').css('width', '110px')
         $('#id_date_year').css('width', '110px')
         $('#id_date_day').css('width', '110px')
         $('#id_date_month').css('display', 'inline')
         $('#id_date_year').css('display', 'inline')
         $('#id_date_day').css('display', 'inline')
      })
   </script>
{% endblock %}